<section  align="center m-t-sm">
    <alert class="alert-message"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
</section>
<header class="header">
  <div class="header-block header-block-collapse hidden-lg-up">
    <button class="collapse-btn" id="sidebar-collapse-btn">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <div class="header-block header-block-nav">
    <ul class="nav-profile">
      <li class="profile dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="name">{{logedIn_user.first_name}} {{logedIn_user.last_name}}</span>
        </a>
        <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="#" ng-click="signout()"> <i class="fa fa-power-off icon"></i> Logout </a>
        </div>
      </li>
    </ul>
  </div>
</header>
