<article class="content item-editor-page" ng-init="loadDetails()">
  <div class="title-block">
    <h3 class="title">
      Update Details
    </h3>
    <p class="title-description">Update the details information of a patient</p>
  </div>
  <div class="panel-group" id="accordion">
   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" data-parent="#accordion"  data-target="#collapseOne">
         Personal Information
         </a>
       </h4>
     </div>
     <div id="collapseOne" class="panel-collapse collapse in">
       <div class="panel-body">
         <form name="patient_registration">
           <div class="card card-block m-b-10">
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                Registration Type:
               </label>
               <div class="col-sm-10">
                 <div>
                    <label>
                         <input class="radio" name="type" type="radio" ng-model="patient.registration_type" value="OPD">
                         <span>OPD</span>
                     </label>
                     <label>
                          <input class="radio" name="type" type="radio" ng-model="patient.registration_type" value="Casual">
                          <span>Casual</span>
                      </label>
                    <label>
                         <input class="radio" name="type" type="radio" ng-model="patient.registration_type" value="Normal">
                         <span>Normal</span>
                     </label>
                  </div>
               </div>
             </div>
             <div class="form-group row" ng-class="{'has-error': (patient_registration.first_name.$invalid && patient_registration.first_name.$touched)}">
               <label class="col-sm-2 form-control-label text-xs-right">
                 First Name:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed"  ng-model="patient.first_name" name="first_name" placeholder="First Name"  ng-pattern="/^(\D)+$/" required>
                 <span class="help-block" ng-show="patient_registration.first_name.$error.required && patient_registration.first_name.$touched">Please enter first name</span>
                 <span class="help-block" ng-show="patient_registration.first_name.$error.pattern && patient_registration.first_name.$touched">first name should not be numeric</span>
               </div>
             </div>
             <div class="form-group row" ng-class="{'has-error': (patient_registration.last_name.$invalid && patient_registration.last_name.$touched)}">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Last Name:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.last_name" name="last_name" placeholder="Last Name" required ng-pattern="/^(\D)+$/">
                 <span class="help-block" ng-show="patient_registration.last_name.$error.required && patient_registration.last_name.$touched">Please enter last name</span>
                 <span class="help-block" ng-show="patient_registration.last_name.$error.pattern && patient_registration.last_name.$touched">last name should not be numeric</span>
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                Gender:
               </label>
               <div class="col-sm-10">
                 <div>
                    <label>
		                    <input class="radio" name="gen" type="radio" ng-model="patient.gender" value="Male">
		                    <span>Male</span>
 			              </label>
                    <label>
		                    <input class="radio" name="gen" type="radio" ng-model="patient.gender" value="Female">
		                    <span>Female</span>
 			              </label>
                  </div>
               </div>
             </div>
             <div class="form-group row"  ng-class="{'has-error': (patient_registration.mobile.$invalid && patient_registration.mobile.$touched)}">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Mobile:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.mobile" name="mobile" placeholder="Mobile" required ng-pattern="/^[0-9]{10,10}$/">
                 <span class="help-block" ng-show="patient_registration.mobile.$error.required && patient_registration.mobile.$touched">Please enter mobile no</span>
                 <span class="help-block" ng-show="patient_registration.mobile.$error.pattern && patient_registration.mobile.$touched">Please enter correct number</span>
               </div>
             </div>
             <div class="form-group row" ng-class="{'has-error': (patient_registration.email.$invalid && patient_registration.email.$touched)}">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Email:
               </label>
               <div class="col-sm-10">
                 <input type="email" class="form-control boxed" ng-model="patient.email" name="email" placeholder="Email" >
                 <span class="help-block" ng-show="patient_registration.email.$error.required && patient_registration.email.$touched">Please enter mail id</span>
               </div>
             </div>
             <div class="form-group row" ng-class="{'has-error': (patient_registration.street.$invalid && patient_registration.street.$touched)}">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Street:
               </label>
               <div class="col-sm-10" >
                 <input type="text" class="form-control boxed" ng-model="patient.street" placeholder="Street" name="street" required>
                 <span class="help-block" ng-show="patient_registration.street.$error.required && patient_registration.street.$touched">Please enter Street name</span>
               </div>
             </div>
             <div class="form-group row" ng-class="{'has-error': (patient_registration.city.$invalid && patient_registration.city.$touched)}">
               <label class="col-sm-2 form-control-label text-xs-right">
                 City:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.city" placeholder="City" name="city" required>
                 <span class="help-block" ng-show="patient_registration.city.$error.required && patient_registration.city.$touched">Please enter city name</span>
               </div>
             </div>
             <div class="form-group row" ng-class="{'has-error': (patient_registration.state.$invalid && patient_registration.state.$touched)}">
               <label class="col-sm-2 form-control-label text-xs-right">
                State:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.state" placeholder="State" name="state" required ng-pattern="/^(\D)+$/">
                 <span class="help-block" ng-show="patient_registration.state.$error.required && patient_registration.state.$touched">Please enter state name</span>
                 <span class="help-block" ng-show="patient_registration.state.$error.pattern && patient_registration.state.$touched">Please enter state name</span>
               </div>
             </div>
             <div class="form-group row" ng-class="{'has-error': (patient_registration.zipcode.$invalid && patient_registration.zipcode.$touched)}">
               <label class="col-sm-2 form-control-label text-xs-right">
                Zip:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.zip" name="zipcode" placeholder="Zip code" ng-maxlength="6" required ng-pattern="/^[0-9]/">
                 <span class="help-block" ng-show="patient_registration.zipcode.$error.required && patient_registration.zipcode.$touched">Please enter zipcode</span>
                 <span class="help-block" ng-show="patient_registration.zipcode.$error.pattern && patient_registration.zipcode.$touched">Please enter zipcode</span>
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                Date of Birth:
               </label>
               <div class="col-sm-10">
                 <p class="input-group w-full">
                   <input type="date" class="form-control" ng-model="patient.dob" id="date1" placeholder="" ng-change="calculateAge()">
                   <!-- <input type="text" class="form-control" placeholder="Date Of Birth" ng-change="calculateage(dateString)" uib-datepicker-popup ng-model="patient.patient_dob" is-open="popup2.opened" datepicker-options="dateOptions"  close-text="Close" />
                   <span class="input-group-btn">
                     <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar"></i></button>
                   </span> -->
                 </p>
               </div>
             </div>
              <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                Age:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.age" readonly>
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                Marital Status:
               </label>
               <div class="col-sm-10">
                 <div>
                    <label>
                          <input class="radio" name="Marital" type="radio" value="Unmarried" ng-model="patient.marital_status">
                          <span>Unmarried</span>
                    </label>
                    <label>
                          <input class="radio" name="Marital" type="radio" value="Married" ng-model="patient.marital_status">
                          <span>Married</span>
                    </label>
                    <label>
                          <input class="radio" name="Marital" type="radio" value="Widow" ng-model="patient.marital_status">
                          <span>Widow</span>
                    </label>
                  </div>
               </div>
             </div>
             <div class="form-group row" ng-class="{'has-error': (patient_registration.religion.$invalid && patient_registration.religion.$touched)}">
             <label class="col-sm-2 form-control-label text-xs-right">
               Religion:
             </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.religion" placeholder="Religion" name="religion" required ng-pattern="/^(\D)+$/">
                 <span class="help-block" ng-show="patient_registration.religion.$error.required && patient_registration.religion.$touched">Please enter religion</span>
                 <span class="help-block" ng-show="patient_registration.religion.$error.pattern && patient_registration.religion.$touched">please enter religion</span>
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                Date of Registration:
               </label>
               <div class="col-sm-10">
                  <input type="text"  class="form-control boxed"  name="religion" ng-model="patient.reg_date" readonly>
               </div>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#collapseTwo">
         Professional Information
         </a>
       </h4>
     </div>
     <div id="collapseTwo" class="panel-collapse collapse">
       <div class="panel-body">
         <form name="item">
           <div class="card card-block  m-b-0">
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Profession Type:
               </label>
               <div class="col-sm-10">
                 <select class="c-select form-control boxed" ng-model="patient.prof_type" required>
                   <option selected>Select Category</option>
                   <option value="Student">Student</option>
                   <option value="Employee">Employee</option>
                   <option value="Farmer">Farmer</option>
                   <option value="Business">Business</option>
                   <option value="Other">Other</option>
                 </select>
               </div>
             </div>
             <div class="form-group row"  ng-if="patient.prof_type == 'Student'">
               <label class="col-sm-2 form-control-label text-xs-right">
                 School/College :
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.school" name="school_name" placeholder="School/College">
               </div>
             </div>
             <div class="form-group row" ng-if="patient.prof_type == 'Employee'">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Employer:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.employer" placeholder="Employer at..">
               </div>
             </div>
             <div class="form-group row" ng-if="patient.prof_type == 'Business'">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Business Type:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" ng-model="patient.business_type" placeholder="Business type">
               </div>
             </div>
             <div class="form-group row" ng-if="patient.prof_type== 'Other'">
             <label class="col-sm-2 form-control-label text-xs-right">
               Other:
             </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder="Your Profession" ng-model="patient.other" >
               </div>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#collapseThree">
         Guardian Information
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse">
       <div class="panel-body">
         <form name="item">
           <div class="card card-block  m-b-0">
             <div class="form-group row">
             <label class="col-sm-2 form-control-label text-xs-right">
               Guardian Type:
             </label>
               <div class="col-sm-10">
                 <select class="c-select form-control boxed" ng-model="patient.guardian_type">
                   <option selected>Select Category</option>
                   <option value="Father">Father</option>
                   <option value="Mother">Mother</option>
                   <option value="Spouse">Spouse</option>
                   <option value="Friends">Friends</option>
                 </select>
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Name:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder="Guardian Name" ng-model="patient.guardian_name">
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Mobile:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder="Guardian Mobile" ng-model="patient.guardian_mobile">
               </div>
             </div>
             <div class="form-group row">
             <label class="col-sm-2 form-control-label text-xs-right">
               Address:
             </label>
               <div class="col-sm-10">
                 <div class="form-group">
                     <textarea class="form-control" rows="5"  placeholder="guardian Address" ng-model="patient.address"></textarea>
                 </div>
               </div>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#collapseFour">
         Department
         </a>
       </h4>
     </div>
     <div id="collapseFour" class="panel-collapse collapse">
       <div class="panel-body">
         <form name="item">
           <div class="card card-block m-b-0">
             <div class="form-group row">
             <label class="col-sm-2 form-control-label text-xs-right">
               Department Type:
             </label>
               <div class="col-sm-10">
                 <select class="c-select form-control boxed" ng-model="patient.dep_id" name="department" ng-init="loadDepartment()" ng-change="loadDoctorlist()">
                   <option value="">Select Category</option>
                   <option value="{{department.id}}" ng-repeat="department in departmentlist">{{department.name}}</option>
                 </select>
               </div>
             </div>
             <div class="form-group row">
             <label class="col-sm-2 form-control-label text-xs-right">
               Doctor List:
             </label>
               <div class="col-sm-10">
                 <select class="c-select form-control boxed" ng-model="doctor.doctordetails" ng-change="loadDoctordetails(doctor.doctordetails)">
                   <option value="">Select Category</option>
                   <option value="{{doctor}}" ng-repeat="doctor in doctorlist">{{doctor.doct_name}}</option>
                 </select>
               </div>
             </div>
             <div class="form-group row">
             <label class="col-sm-2 form-control-label text-xs-right">
               Doctor Location:
             </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder="" ng-model="doctorDetails.doct_location" readonly>
               </div>
             </div>
             <div class="form-group row">
             <label class="col-sm-2 form-control-label text-xs-right">
               Consulting Price:
             </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed"  ng-model="doctorDetails.doct_price" readonly>
               </div>
             </div>
             <div class="form-group row">
             <label class="col-sm-2 form-control-label text-xs-right">
               Day and Timing Information:
             </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed"  ng-model="doctorDetails.doct_timing" readonly>
               </div>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
   <!-- <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#collapseFive">
          Previous Madical History
         </a>
       </h4>
     </div>
     <div id="collapseFive" class="panel-collapse collapse">
       <div class="panel-body">
         <form name="item">
           <div class="card card-block  m-b-0">
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Deasease:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder="Deasease">
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Name Of The Hospital:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder="Name Of The Hospital">
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Name Of The Doctor:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder="Name Of The Doctor">
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Date Of Consulation:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder=" Date Of Consulation">
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Wheather Addmited To Hospital:
               </label>
               <div class="col-sm-10">
                 <div>
                    <label>
                          <input class="radio" name="inline-radios" type="radio">
                          <span>yes</span>
                    </label>
                    <label>
                          <input class="radio" name="inline-radios" type="radio">
                          <span>no</span>
                    </label>
                  </div>
               </div>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div> -->
   <div class="panel panel-default">
     <div class="panel-heading">
       <h4 class="panel-title">
         <a data-toggle="collapse" class="collapsed" data-parent="#accordion" data-target="#collapseSix">
         Other
         </a>
       </h4>
     </div>
     <div id="collapseSix" class="panel-collapse collapse">
       <div class="panel-body">
         <form name="item">
           <div class="card card-block  m-b-0">
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 How Did You Here About Us:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder=" How Did You Here About Us" ng-model="patient.hear_about_us">
               </div>
             </div>
             <div class="form-group row">
               <label class="col-sm-2 form-control-label text-xs-right">
                 Reason For Visit:
               </label>
               <div class="col-sm-10">
                 <input type="text" class="form-control boxed" placeholder="Reason For Visit" ng-model="patient.reason">
               </div>
             </div>
           </div>
         </form>
       </div>
     </div>
   </div>
   <div class="form-group row">
     <div class="col-sm-12 text-right">
       <button type="submit" class="btn btn-primary" ng-click="Update()">
         Update
       </button>
     </div>
   </div>
 </div>
</article>
