<article class="content item-editor-page" ng-init="loadDetails()">
  <div class="title-block">
    <h3 class="title">
      Details view
    </h3>
    <p class="title-description">Details view of a patient</p>
  </div>

  <div class="row">
    <div class="col-md-6 m-b-20">
      <div class="card card-info">
        <div class="card-header">
          <div class="header-block">
            <p class="title"> Personal Information</p>
          </div>
        </div>
        <div class="card card-block">
          <div class="row" ng-if="registerDetails.reason">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="email">Reason</label>
                <p>{{registerDetails.reason}}</p>
              </div>
            </div>
          </div>
          <div class="row m-t-20">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Registration No.</th>
                    <td>{{registerDetails.reg_no}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Name</th>
                    <td>{{registerDetails.first_name+" "+registerDetails.last_name}}</td>
                  </tr>
                  <tr ng-if="registerDetails.email">
                    <th scope="row">Email</th>
                    <td>{{registerDetails.email}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mobile</th>
                    <td>{{registerDetails.mobile}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Address</th>
                    <td>{{registerDetails.street}}, {{registerDetails.city}}, {{registerDetails.state}}, {{registerDetails.zip}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Gender</th>
                    <td>{{registerDetails.gender}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Date of Birth</th>
                    <td>{{registerDetails.dob}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Age</th>
                    <td>{{registerDetails.age}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Age</th>
                    <td>{{registerDetails.religion}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Marital Status</th>
                    <td>{{registerDetails.marital_status}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Registration Date</th>
                    <td>{{registerDetails.reg_date}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-b-20" ng-if="registerDetails.prof_type">
      <div class="card card-info">
        <div class="card-header">
          <div class="header-block">
            <p class="title"> Professional Information</p>
          </div>
        </div>
        <div class="card card-block">
          <div class="row m-t-20">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Profession :</th>
                    <td>{{registerDetails.prof_type}}</td>
                  </tr>
                  <tr ng-if="registerDetails.prof_type == 'Student'">
                    <th scope="row">School/College :</th>
                    <td>{{registerDetails.school}}</td>
                  </tr>
                  <tr ng-if="registerDetails.prof_type == 'Employee'">
                    <th scope="row">Employee at :</th>
                    <td>{{registerDetails.employer}}</td>
                  </tr>
                  <tr ng-if="registerDetails.prof_type == 'Business'">
                    <th scope="row">Business</th>
                    <td>{{registerDetails.business_type}}</td>
                  </tr>
                  <tr ng-if="registerDetails.prof_type == 'Other'">
                    <th scope="row">Other</th>
                    <td>{{registerDetails.other}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-b-20" ng-if="registerDetails.guardian_type">
      <div class="card card-info">
        <div class="card-header">
          <div class="header-block">
            <p class="title">Guardian Information</p>
          </div>
        </div>
        <div class="card card-block">
          <div class="row m-t-20">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">{{registerDetails.guardian_type}}</th>
                    <td>{{registerDetails.guardian_name}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mobile</th>
                    <td>{{registerDetails.guardian_mobile}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Address</th>
                    <td>{{registerDetails.address}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 m-b-20" ng-if="registerDetails.department">
      <div class="card card-info">
        <div class="card-header">
          <div class="header-block">
            <p class="title">Department</p>
          </div>
        </div>
        <div class="card card-block">
          <div class="row m-t-20">
            <div class="col-md-12">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th scope="row">Department</th>
                    <td>{{registerDetails.department}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Doctor</th>
                    <td>{{registerDetails.doctor}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Price</th>
                    <td>{{registerDetails.doct_price}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
