<article class="content items-list-page" ng-init="loadRegisterList()">
   <div class="title-search-block">
     <div class="title-block">
         <div class="row">
             <div class="col-md-6">
                 <h3 class="title">
                     Patient List
                     <a ui-sref="newRegistration" class="btn btn-primary btn-sm rounded-s m-l-20">
                       Add New
                     </a>
                     <!-- <a href="#" class="btn btn-danger btn-sm rounded-s m-l-5">
                       Delete
                     </a> -->
                 </h3>
                 <p class="title-description"> List of registered patient</p>
             </div>
         </div>
     </div>
     <!-- <div class="items-search">
         <form class="form-inline">
              <div class="input-group"> <input type="text" ng-model="str" class="form-control boxed rounded-s" placeholder="Registration No...">
                <span class="input-group-btn">
                   <button class="btn btn-secondary rounded-s" type="button" ng-click="search(str)">
                     <i class="fa fa-search"></i>
                   </button>
               </span>
           </div>
         </form>
     </div> -->
   </div>
    <div class="card table-responsive">
       <table ng-table="tableParams" class="table table-bordered table-style" show-filter="true">
        <tr ng-repeat="reg in $data">
            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                {{reg.name}}</td>
            <td title="'Registration No'" filter="{ reg_no: 'number'}" sortable="'reg_no'">
                {{reg.reg_no}}</td>
            <td title="'Mobile'" filter="{ mobile: 'number'}" sortable="'mobile'">
                {{reg.mobile}}</td>
            <td title="'Registration Type'" filter="{ registration_type: 'number'}" sortable="'registration_type'">
                {{reg.registration_type}}</td>
            <td title="'Registration Date'" filter="{ reg_date: 'number'}" sortable="'reg_date'">
                {{reg.reg_date}}</td>
            <td title="'Date of birth'" filter="{ dob: 'number'}" sortable="'dob'">
                {{reg.dob}}</td>
            <td title="'Option'" class="option-icon">
              <a class="check"  ui-sref="detailsView({reg_id:reg.id})"> <i class="fa fa-eye"></i> </a>
              <a class="edit"  ui-sref="registerEdit({reg_id:reg.id})"> <i class="fa fa-pencil"></i> </a>
              <a class="remove" ng-click="deleteRegister('md',reg.id)"> <i class="fa fa-trash-o "></i> </a>
            </td>
        </tr>
      </table>
    </div>
</article>
<div class="modal fade in" id="confirm-modal"  ng-model="showModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Delete confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">No</button>
          <button type="button" class="btn btn-primary" ng-click="ok()">Yes</button>
        </div>
      </div>
    </div>
</div>
